body{
    padding: 0%;
    margin: 0%;
}

.wrapper{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    width: 100% !important;
    margin: 0 auto;
    max-width: 1440px;
}

section{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    max-width: 1440px;
    overflow: hidden;
    margin: 0% auto;
    width: 100% !important;
    position: relative;
}

.bloque1{
    background-image: url(../../assets/imagex3.jpg);
}

.bloque2{
    background-image: url(../../assets/image4.jpg);
}

.bloque3{
    background-image: url(../../assets/image20.jpg);
}

.text1{
    color: white;
}

.customize-image{
    display: flex;
    justify-content: space-between;

}

.item{
    margin: 1%;
}

p{
    margin: 2%;
}